### AL ###
# Template for AL projects for Dynamics 365 Business Central

# VS Code
.vscode/

# AL Cache / Build
.alcache/
.alpackages/
.snapshots/
.output/

# AL Artifacts
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml

# --------------------
# OpenTofu / Terraform
# --------------------

.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
.env
crash.log
*.tfplan

# --------------------
# OS / IDE
# --------------------

.DS_Store
.idea/
*.swp
